@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
}

body {
    display: flex;
}

body::before {
    content: "";
    flex-grow: 1;

    opacity: 0.5;
}

body::after {
    content: "";
    flex-grow: 1;

    opacity: 0.5;
}

.page-content {
    /* width: 800px; */
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

main {
    padding: 1em;
}

header {
    height: 4em;
    padding: 0 1em;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .site-logo {
    border-radius: 50%;
    margin-right: 2em;
}

header .site-logo img {
    border-radius: 50%;
    height: 3em;
    width: 3em;
}

header > div {
    font-size: 2em;
    text-transform: uppercase;
}

.search-form {
    margin: 2em 0;
    text-align: center;
}

.search-form label {
    font-size: 1.25em;
}

.search-form input[type="text"] {
    font-size: 1.25em;
    padding: 0.25em 0.5em;
    border-radius: 0.125em;
    margin-top: 0.5em;
    border: 1px solid #cccccc;
}

.search-form .results .result {
    display: flex;
    align-items: stretch;
    text-align: left;
    margin: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    color: #000000;
}

.search-form .results .result:nth-child(odd) {
    background-color: #eee2de;
    border-radius: 10px;
}

.search-form .results .result:nth-child(even) {
    background-color: #fff4f4;
    border-radius: 10px;
}

.search-form .results .result .img {
    align-self: flex-start;
    margin-right: 1em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.search-form .results .result .img img {
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.search-form .results .result > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-form .results .result > div .name {
    font-size: 1.125em;
    font-weight: bold;
}

.search-form .results .result > div .owner {
    font-size: 0.875em;
}

.search-form .results .result > div .owner span {
    color: #999999;
}

.animal-show {
    padding: 2em;
}

.animal-show__actions {
    display: flex;
    margin: 1em 0;
}

.animal-show__edit-button {
    padding: 0.5em 1em;
    background-color: #348fb9;
    color: white;
    border-radius: 0.25em;
    text-decoration: none;
}

.admin-page-content main {
    padding: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5em 0;
}

.form-group label {
    margin-bottom: 0.5em;
    color: #666666;
}

.form-group input[type="text"] {
    border: 1px solid #999999;
    border-radius: 0.25em;
    padding: 0.25em;
}

.form-group.has-errors label {
    color: red;
}

.form-group.has-errors input[type="text"] {
    border-color: red;
}

.form-actions {
    display: flex;
    flex-direction: row;
}

.form-actions button,
.form-actions input[type="submit"],
.form-actions a {
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    padding: 0.5em 1em;
    background-color: #348fb9;
    color: white;
    border-width: 0;
    border-radius: 0.25em;
    text-decoration: none;
    margin-right: 0.5em;
}

.alert.alert-danger {
    color: red;
}

.alert.alert-success {
    color: green;
}

.w-5 {
    width: 1rem;
}

.submit-button {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}
.submit-button:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}
.submit-button:active {
    position: relative;
    top: 1px;
}
